<div id="<%= dom_id rent %>">
  <p>
    <strong>User:</strong>
    <%= rent.user_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= rent.book_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= rent.status %>
  </p>

</div>
