<div class="card text-white bg-dark rent-card">

  <div class="card-header">
    <%= rent.status %>
  </div>

  <div class="card-body">
    <h5 class="card-title"><%= rent.book.title %></h5>
    <p class="card-text"><%= rent.book.author %></p>
    <%= button_to("Return this book", return_book_path(rent), method: :patch, class: 'btn btn-primary') if rent.ongoing? %>
  </div>

</div>
