@import "bootstrap";
@import "navbar";
@import "books";
@import "rents";
@import "devise";

body {
  background-color: #0D1117;
  background-image: image-url('background-img');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #c6d0da;
}

#main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

h1 {
  font-weight: 300;
}

.card-title {
  color: #c6d0da;
}

.page-link,
.page-link.disabled,
.disabled > .page-link {
  border-color: #212529;
  background-color: #212529;
  color: #6C757D;
}
