@import "bootstrap";
@import "navbar";
@import "books";
@import "rents";
@import "devise";
@import "dropdown_menu.css";

body {
  background-color: #0D1117;
  background-image: image-url('background-img');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #c6d0da;

  min-height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-container {
  width: 100%;
  height: 100%;
  margin-top: 56px; // navbar + alert height
  margin-bottom: 56px;
}

.nav-alert {
  top: 0;
  position: absolute;
  width: 100%;
}

.alert-placeholder {
  height: 58px;
}

.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 300;
}

.card-title {
  color: #c6d0da;
}

.page-link,
.page-link.disabled,
.disabled > .page-link {
  border-color: #212529;
  background-color: #212529;
  color: #6C757D;
}
