#books {
  margin-block: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
}

.book-card {
  width: 230px;
}

.book-cover {
  height: 322px;
}

.book-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 10px 14px 14px 14px;
}

.book-title {
  text-decoration: none;
  font-size: 18px;
  color: #c6d0da;
}

.book-title:hover {
  color: #c6d0da;
}

.book-author {
  margin-bottom: 5px;
}

.show-book-card-links {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rent-button {
  width: 100%;
}

.book-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.book-form > div > .form-control {
  border: 1px solid grey;
}

.show-book {
  width: 100%;
}

.show-book-body {
  display: flex;
}

.show-book-side {
  width: 30%;
}

.show-book-cover {
  width: 100%;
}

.show-book-info {
  width: 70%;
  margin-left: 16px;
}
