#books {
  margin-block: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 70%;
}

.book-card {
  width: 300px;
}

.book-title {
  margin-bottom: 2px;
  text-decoration: none;
}

.book-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-card-links {
  margin-top: 10px;
}

.rent-button {
  width: 100%;
}

.delete-button {
  border: none;
  background-color: inherit;
  color: var(--bs-link-color);
  text-decoration: underline;
}

.book-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.book-form > div > .form-control {
  border: 1px solid grey;
}
