.login-header {
  margin-top: 150px;
}

.sign-in-to-add {
  font-size: larger;
}

.login-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-texts {
  display: flex;
  justify-content: space-between;
}

.is-invalid::placeholder {
  color: red;
}

.login-fields .btn-primary {
  width: 100%;
}

.login-info {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.remember-me-checkbox {
  margin: 4px;
  margin-right: 8px;
}

.form-control {
  border: none;
}
