<div class="alert <%= flash_class(flash) %> alert-dismissible" role="alert">
    <%= flash_message(flash) %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
